# IMPORTING RELEVANT LIBRARIES

In [33]:
import seaborn as sns
import numpy as np 
import matplotlib.pyplot as plt
import sklearn 
import tensorflow as tf
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [11]:
data = pd.read_csv('Data/train.csv')
df = pd.DataFrame(data)

In [12]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [13]:
# using the info from the EDA done to
# the data set we will keep only the relevant features for training the machine learning algorithms 
# Hightly corelated features according to the EDA done
# OverallQual, YearBuilt, YearRemodAdd, MasVnrArea, TotalBsmtSF, GrLivArea, FullBath, KitchenAbvGr, TotRmsAbvGrd
# ,FirePlaces, GerageYrBlt, GerageCars, GerageArea

selected_cols = [  'OverallQual', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'TotalBsmtSF', 'GrLivArea', 'FullBath', 'KitchenAbvGr', 'TotRmsAbvGrd'
,'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'SalePrice' ]

df = df.drop(columns=[col for col in df.columns if col not in selected_cols])
df.head()

,OverallQual,YearBuilt,YearRemodAdd,MasVnrArea,TotalBsmtSF,GrLivArea,FullBath,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,SalePrice
0,7,2003,2003,196.0,856,1710,2,1,8,0,2003.0,2,548,208500
1,6,1976,1976,0.0,1262,1262,2,1,6,1,1976.0,2,460,181500
2,7,2001,2002,162.0,920,1786,2,1,6,1,2001.0,2,608,223500
3,7,1915,1970,0.0,756,1717,1,1,7,1,1998.0,3,642,140000
4,8,2000,2000,350.0,1145,2198,2,1,9,1,2000.0,3,836,250000

In [14]:
# spliting the exsisting dataframe into X and y ie features and output dataframes

X = df.drop(columns = ['SalePrice'])
Y = df['SalePrice']

In [18]:
print('X shape :', X.shape)
print('Y shape :', Y.shape)

X shape : (1460, 13)
Y shape : (1460,)

In [19]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, shuffle= True, random_state = 42)

In [41]:
print('X_train shape :', x_train.shape)
print('Y_train shape :', y_train.shape)

X_train shape : (1168, 13)
Y_train shape : (1168,)

# NN based model

In [42]:
# processing the data using standard scalar from sklearn
scaler = StandardScaler()
X_train = scaler.fit_transform(x_train)
X_test = scaler.transform(x_test)

In [55]:
NN_Model = Sequential()

# The first layer with the input layer
NN_Model.add(Dense(128, activation = 'relu', input_shape = [X_train.shape[1]]))
# Hidden layer 1
NN_Model.add(Dense(64, activation = 'relu'))
# NN_Model.add(Dropout(0.2))
# Hidden layer 2
NN_Model.add(Dense(32, activation = 'relu'))
# NN_Model.add(Dropout(0.2))
# Hidden layer 3
NN_Model.add(Dense(16, activation = 'relu'))
# NN_Model.add(Dropout(0.2))
# Output layer
NN_Model.add(Dense(1))

In [56]:
NN_Model.compile(loss=tf.keras.losses.mae, optimizer='adam', metrics = ['mae'])

In [57]:
NN_Model.fit(x_train, y_train, batch_size = 32, epochs = 100, verbose = 1)

Epoch 1/100
37/37 [==============================] - 1s 6ms/step - loss: nan - mae: nan
Epoch 2/100
37/37 [==============================] - 0s 5ms/step - loss: nan - mae: nan
Epoch 3/100
37/37 [==============================] - 0s 5ms/step - loss: nan - mae: nan
Epoch 4/100
37/37 [==============================] - 0s 5ms/step - loss: nan - mae: nan
Epoch 5/100
37/37 [==============================] - 0s 5ms/step - loss: nan - mae: nan
Epoch 6/100
37/37 [==============================] - 0s 5ms/step - loss: nan - mae: nan
Epoch 7/100
37/37 [==============================] - 0s 6ms/step - loss: nan - mae: nan
Epoch 8/100
37/37 [==============================] - 0s 6ms/step - loss: nan - mae: nan
Epoch 9/100
37/37 [==============================] - 0s 6ms/step - loss: nan - mae: nan
Epoch 10/100
37/37 [==============================] - 0s 5ms/step - loss: nan - mae: nan
Epoch 11/100
37/37 [==============================] - 0s 5ms/step - loss: nan - mae: nan
Epoch 12/100
11/37 [=======>......................] - ETA: 0s - loss: nan - mae: nan

KeyboardInterrupt: