# IMPORTING RELEVANT LIBRARIES

In [62]:
import seaborn as sns
import numpy as np 
import matplotlib.pyplot as plt
import sklearn 
import tensorflow as tf
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from sklearn.metrics import classification_report
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
data = pd.read_csv('Data/train.csv')
df = pd.DataFrame(data)

In [3]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [44]:
# using the info from the EDA done to
# the data set we will keep only the relevant features for training the machine learning algorithms 
# Hightly corelated features according to the EDA done
# OverallQual, YearBuilt, YearRemodAdd, MasVnrArea, TotalBsmtSF, GrLivArea, FullBath, KitchenAbvGr, TotRmsAbvGrd
# ,FirePlaces, GerageYrBlt, GerageCars, GerageArea

selected_cols = [  'OverallQual', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'TotalBsmtSF', 'GrLivArea', 'FullBath', 'KitchenAbvGr', 'TotRmsAbvGrd'
,'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'SalePrice' ]

df = df.drop(columns=[col for col in df.columns if col not in selected_cols])
df.head()

,OverallQual,YearBuilt,YearRemodAdd,MasVnrArea,TotalBsmtSF,GrLivArea,FullBath,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,SalePrice
0,7,2003,2003,196.0,856,1710,2,1,8,0,2003.0,2,548,208500
1,6,1976,1976,0.0,1262,1262,2,1,6,1,1976.0,2,460,181500
2,7,2001,2002,162.0,920,1786,2,1,6,1,2001.0,2,608,223500
3,7,1915,1970,0.0,756,1717,1,1,7,1,1998.0,3,642,140000
4,8,2000,2000,350.0,1145,2198,2,1,9,1,2000.0,3,836,250000

In [47]:
# replacing any NaN values with the mean of the data
df = df.fillna(data.mean())

C:\Users\jagme\AppData\Local\Temp\ipykernel_6056\2375988879.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df.fillna(data.mean())

In [48]:
# spliting the exsisting dataframe into X and y ie features and output dataframes

X = df.drop(columns = ['SalePrice'])
Y = df['SalePrice']

In [49]:
print('X shape :', X.shape)
print('Y shape :', Y.shape)

X shape : (1460, 13)
Y shape : (1460,)

In [50]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, shuffle= True, random_state = 42)

In [51]:
print(x_train.head())
print(y_train.head())

      OverallQual  YearBuilt  YearRemodAdd  MasVnrArea  TotalBsmtSF  \
254             5       1957          1957         0.0         1314
1066            6       1993          1994         0.0          799
638             5       1910          1950         0.0          796
799             5       1937          1950       252.0          731
380             5       1924          1950         0.0         1026

      GrLivArea  FullBath  KitchenAbvGr  TotRmsAbvGrd  Fireplaces  \
254        1314         1             1             5           0
1066       1571         2             1             7           1
638         796         1             1             4           0
799        1768         1             1             7           2
380        1691         2             1             6           1

      GarageYrBlt  GarageCars  GarageArea
254   1957.000000           1         294
1066  1993.000000           2         380
638   1978.506164           0           0
799   1939.000000           1         240
380   1924.000000           1         308
254     145000
1066    178000
638      85000
799     175000
380     127000
Name: SalePrice, dtype: int64

In [52]:
print('X_train shape :', x_train.shape[1])
print('Y_train shape :', y_train.shape)

X_train shape : 13
Y_train shape : (1168,)

# NN based model

In [53]:
if x_train.isnull().values.any() or x_test.isnull().values.any() or y_train.isnull().values.any():
    raise ValueError("Input data contains NaN values.")

In [54]:
# processing the data using standard scalar from sklearn
scaler = StandardScaler()
X_train = scaler.fit_transform(x_train)
X_test = scaler.transform(x_test)

In [55]:
print(X_test)

[[-0.08893368 -0.25978931  0.87347031 ... -0.65139094 -1.05654384
  -1.00601401]
 [ 1.37408806  0.75122223  0.48746451 ...  0.6386082   0.29509165
   1.11715856]
 [-0.82044456 -1.43386723 -1.6838181  ... -2.14945444  0.29509165
  -0.55104846]
 ...
 [ 0.64257719  1.10996826  0.96997176 ...  1.09634982  0.29509165
  -0.31408723]
 [-1.55195543 -1.00989465 -1.6838181  ... -1.60848707 -1.05654384
  -0.85435882]
 [-1.55195543 -0.03149638 -0.71880361 ...  0.6386082   0.29509165
  -0.06290834]]

In [56]:
NN_Model = Sequential()

# The first layer with the input layer
NN_Model.add(Dense(128, activation = 'relu', input_shape = [X_train.shape[1]]))
# Hidden layer 1
NN_Model.add(Dense(64, activation = 'relu'))
# NN_Model.add(Dropout(0.2))
# Hidden layer 2
NN_Model.add(Dense(32, activation = 'relu'))
# NN_Model.add(Dropout(0.2))
# Hidden layer 3
NN_Model.add(Dense(16, activation = 'relu'))
# NN_Model.add(Dropout(0.2))
# Output layer
NN_Model.add(Dense(1))

In [57]:
NN_Model.compile(loss=tf.keras.losses.mae, optimizer='adam', metrics = ['mae'])

In [58]:
NN_Model.fit(X_train, y_train, batch_size = 32, epochs = 100, verbose = 1)

Epoch 1/100
37/37 [==============================] - 1s 5ms/step - loss: 181437.2344 - mae: 181437.2344
Epoch 2/100
37/37 [==============================] - 0s 5ms/step - loss: 181356.5000 - mae: 181356.5000
Epoch 3/100
37/37 [==============================] - 0s 4ms/step - loss: 180512.9844 - mae: 180512.9844
Epoch 4/100
37/37 [==============================] - 0s 4ms/step - loss: 175497.1094 - mae: 175497.1094
Epoch 5/100
37/37 [==============================] - 0s 4ms/step - loss: 156765.5156 - mae: 156765.5156
Epoch 6/100
37/37 [==============================] - 0s 4ms/step - loss: 115276.0938 - mae: 115276.0938
Epoch 7/100
37/37 [==============================] - 0s 4ms/step - loss: 71544.9766 - mae: 71544.9766
Epoch 8/100
37/37 [==============================] - 0s 4ms/step - loss: 57757.6562 - mae: 57757.6562
Epoch 9/100
37/37 [==============================] - 0s 4ms/step - loss: 53169.2266 - mae: 53169.2266
Epoch 10/100
37/37 [==============================] - 0s 4ms/step - loss: 49451.9844 - mae: 49451.9844
Epoch 11/100
37/37 [==============================] - 0s 4ms/step - loss: 45967.7148 - mae: 45967.7148
Epoch 12/100
37/37 [==============================] - 0s 4ms/step - loss: 42626.5547 - mae: 42626.5547
Epoch 13/100
37/37 [==============================] - 0s 4ms/step - loss: 39458.3164 - mae: 39458.3164
Epoch 14/100
37/37 [==============================] - 0s 4ms/step - loss: 36515.2266 - mae: 36515.2266
Epoch 15/100
37/37 [==============================] - 0s 4ms/step - loss: 33999.3281 - mae: 33999.3281
Epoch 16/100
37/37 [==============================] - 0s 4ms/step - loss: 31837.9688 - mae: 31837.9688
Epoch 17/100
37/37 [==============================] - 0s 4ms/step - loss: 30184.6953 - mae: 30184.6953
Epoch 18/100
37/37 [==============================] - 0s 4ms/step - loss: 28730.5723 - mae: 28730.5723
Epoch 19/100
37/37 [==============================] - 0s 4ms/step - loss: 27547.2754 - mae: 27547.2754
Epoch 20/100
37/37 [==============================] - 0s 4ms/step - loss: 26556.0723 - mae: 26556.0723
Epoch 21/100
37/37 [==============================] - 0s 4ms/step - loss: 25652.9023 - mae: 25652.9023
Epoch 22/100
37/37 [==============================] - 0s 4ms/step - loss: 24887.4766 - mae: 24887.4766
Epoch 23/100
37/37 [==============================] - 0s 4ms/step - loss: 24233.7988 - mae: 24233.7988
Epoch 24/100
37/37 [==============================] - 0s 5ms/step - loss: 23599.3984 - mae: 23599.3984
Epoch 25/100
37/37 [==============================] - 0s 5ms/step - loss: 23139.4512 - mae: 23139.4512
Epoch 26/100
37/37 [==============================] - 0s 4ms/step - loss: 22627.4688 - mae: 22627.4688
Epoch 27/100
37/37 [==============================] - 0s 4ms/step - loss: 22285.6758 - mae: 22285.6758
Epoch 28/100
37/37 [==============================] - 0s 4ms/step - loss: 22105.0078 - mae: 22105.0078
Epoch 29/100
37/37 [==============================] - 0s 4ms/step - loss: 21766.3047 - mae: 21766.3047
Epoch 30/100
37/37 [==============================] - 0s 4ms/step - loss: 21525.5371 - mae: 21525.5371
Epoch 31/100
37/37 [==============================] - 0s 4ms/step - loss: 21330.8418 - mae: 21330.8418
Epoch 32/100
37/37 [==============================] - 0s 4ms/step - loss: 21086.3730 - mae: 21086.3730
Epoch 33/100
37/37 [==============================] - 0s 4ms/step - loss: 20939.6836 - mae: 20939.6836
Epoch 34/100
37/37 [==============================] - 0s 4ms/step - loss: 20821.9766 - mae: 20821.9766
Epoch 35/100
37/37 [==============================] - 0s 4ms/step - loss: 20686.2988 - mae: 20686.2988
Epoch 36/100
37/37 [==============================] - 0s 4ms/step - loss: 20534.1328 - mae: 20534.1328
Epoch 37/100
37/37 [==============================] - 0s 4ms/step - loss: 20517.0664 - mae: 20517.0664
Epoch 38/100
37/37 [==============================] - 0s 4ms/step - loss: 20326.4492 - mae: 20326.4492
Epoch 39/100
37/37 [==============================] - 0s 4ms/step - loss: 20343.7969 - mae: 20343.7969
Epoch 40/100
37/37 [==============================] - 0s 5ms/step - loss: 20192.9648 - mae: 20192.9648
Epoch 41/100
37/37 [==============================] - 0s 4ms/step - loss: 20211.7305 - mae: 20211.7305
Epoch 42/100
37/37 [==============================] - 0s 4ms/step - loss: 20130.4082 - mae: 20130.4082
Epoch 43/100
37/37 [==============================] - 0s 4ms/step - loss: 20035.4277 - mae: 20035.4277
Epoch 44/100
37/37 [==============================] - 0s 4ms/step - loss: 19986.8535 - mae: 19986.8535
Epoch 45/100
37/37 [==============================] - 0s 5ms/step - loss: 20005.1699 - mae: 20005.1699
Epoch 46/100
37/37 [==============================] - 0s 5ms/step - loss: 19829.5508 - mae: 19829.5508
Epoch 47/100
37/37 [==============================] - 0s 4ms/step - loss: 19774.2246 - mae: 19774.2246
Epoch 48/100
37/37 [==============================] - 0s 4ms/step - loss: 19710.9648 - mae: 19710.9648
Epoch 49/100
37/37 [==============================] - 0s 4ms/step - loss: 19673.6914 - mae: 19673.6914
Epoch 50/100
37/37 [==============================] - 0s 4ms/step - loss: 19625.7910 - mae: 19625.7910
Epoch 51/100
37/37 [==============================] - 0s 5ms/step - loss: 19600.3320 - mae: 19600.3320
Epoch 52/100
37/37 [==============================] - 0s 5ms/step - loss: 19650.5527 - mae: 19650.5527
Epoch 53/100
37/37 [==============================] - 0s 5ms/step - loss: 19521.9551 - mae: 19521.9551
Epoch 54/100
37/37 [==============================] - 0s 5ms/step - loss: 19528.5137 - mae: 19528.5137
Epoch 55/100
37/37 [==============================] - 0s 4ms/step - loss: 19476.0723 - mae: 19476.0723
Epoch 56/100
37/37 [==============================] - 0s 5ms/step - loss: 19416.3555 - mae: 19416.3555
Epoch 57/100
37/37 [==============================] - 0s 4ms/step - loss: 19395.2266 - mae: 19395.2266
Epoch 58/100
37/37 [==============================] - 0s 5ms/step - loss: 19383.9336 - mae: 19383.9336
Epoch 59/100
37/37 [==============================] - 0s 6ms/step - loss: 19445.8906 - mae: 19445.8906
Epoch 60/100
37/37 [==============================] - 0s 5ms/step - loss: 19337.5215 - mae: 19337.5215
Epoch 61/100
37/37 [==============================] - 0s 5ms/step - loss: 19300.9668 - mae: 19300.9668
Epoch 62/100
37/37 [==============================] - 0s 5ms/step - loss: 19292.7402 - mae: 19292.7402
Epoch 63/100
37/37 [==============================] - 0s 5ms/step - loss: 19213.0645 - mae: 19213.0645
Epoch 64/100
37/37 [==============================] - 0s 5ms/step - loss: 19298.3633 - mae: 19298.3633
Epoch 65/100
37/37 [==============================] - 0s 5ms/step - loss: 19284.4004 - mae: 19284.4004
Epoch 66/100
37/37 [==============================] - 0s 5ms/step - loss: 19159.1738 - mae: 19159.1738
Epoch 67/100
37/37 [==============================] - 0s 5ms/step - loss: 19187.5254 - mae: 19187.5254
Epoch 68/100
37/37 [==============================] - 0s 5ms/step - loss: 19134.8809 - mae: 19134.8809
Epoch 69/100
37/37 [==============================] - 0s 5ms/step - loss: 19205.3320 - mae: 19205.3320
Epoch 70/100
37/37 [==============================] - 0s 4ms/step - loss: 19077.4863 - mae: 19077.4863
Epoch 71/100
37/37 [==============================] - 0s 5ms/step - loss: 19076.1875 - mae: 19076.1875
Epoch 72/100
37/37 [==============================] - 0s 5ms/step - loss: 19058.4375 - mae: 19058.4375
Epoch 73/100
37/37 [==============================] - 0s 4ms/step - loss: 19119.0410 - mae: 19119.0410
Epoch 74/100
37/37 [==============================] - 0s 5ms/step - loss: 18996.4375 - mae: 18996.4375
Epoch 75/100
37/37 [==============================] - 0s 4ms/step - loss: 18980.6543 - mae: 18980.6543
Epoch 76/100
37/37 [==============================] - 0s 4ms/step - loss: 19131.6738 - mae: 19131.6738
Epoch 77/100
37/37 [==============================] - 0s 4ms/step - loss: 18943.6523 - mae: 18943.6523
Epoch 78/100
37/37 [==============================] - 0s 4ms/step - loss: 18975.7441 - mae: 18975.7441
Epoch 79/100
37/37 [==============================] - 0s 5ms/step - loss: 19012.6973 - mae: 19012.6973
Epoch 80/100

37/37 [==============================] - 0s 4ms/step - loss: 18937.7578 - mae: 18937.7578
Epoch 81/100
37/37 [==============================] - 0s 4ms/step - loss: 18889.9102 - mae: 18889.9102
Epoch 82/100
37/37 [==============================] - 0s 4ms/step - loss: 18847.8535 - mae: 18847.8535
Epoch 83/100
37/37 [==============================] - 0s 4ms/step - loss: 18896.1523 - mae: 18896.1523
Epoch 84/100
37/37 [==============================] - 0s 4ms/step - loss: 18880.3691 - mae: 18880.3691
Epoch 85/100
37/37 [==============================] - 0s 4ms/step - loss: 18834.1445 - mae: 18834.1445
Epoch 86/100
37/37 [==============================] - 0s 4ms/step - loss: 18829.6426 - mae: 18829.6426
Epoch 87/100
37/37 [==============================] - 0s 4ms/step - loss: 18756.4707 - mae: 18756.4707
Epoch 88/100
37/37 [==============================] - 0s 4ms/step - loss: 18861.4473 - mae: 18861.4473
Epoch 89/100
37/37 [==============================] - 0s 5ms/step - loss: 18795.5977 - mae: 18795.5977
Epoch 90/100
37/37 [==============================] - 0s 4ms/step - loss: 18935.9902 - mae: 18935.9902
Epoch 91/100
37/37 [==============================] - 0s 4ms/step - loss: 18784.1270 - mae: 18784.1270
Epoch 92/100
37/37 [==============================] - 0s 4ms/step - loss: 18800.0449 - mae: 18800.0449
Epoch 93/100
37/37 [==============================] - 0s 4ms/step - loss: 18793.3242 - mae: 18793.3242
Epoch 94/100
37/37 [==============================] - 0s 4ms/step - loss: 18770.8848 - mae: 18770.8848
Epoch 95/100
37/37 [==============================] - 0s 4ms/step - loss: 18706.8242 - mae: 18706.8242
Epoch 96/100
37/37 [==============================] - 0s 4ms/step - loss: 18782.5254 - mae: 18782.5254
Epoch 97/100
37/37 [==============================] - 0s 4ms/step - loss: 18692.4238 - mae: 18692.4238
Epoch 98/100
37/37 [==============================] - 0s 4ms/step - loss: 18665.8711 - mae: 18665.8711
Epoch 99/100
37/37 [==============================] - 0s 4ms/step - loss: 18660.8828 - mae: 18660.8828
Epoch 100/100
37/37 [==============================] - 0s 4ms/step - loss: 18648.2168 - mae: 18648.2168

In [68]:
y_pred = NN_Model.predict(X_test[:20])

In [71]:
mae = mean_absolute_error(y_test[:20], y_pred)
mse = mean_squared_error(y_test[:20], y_pred)
print("Mean Absolute error :", mae)
print("Mean sq error :", mse)

Mean Absolute error : 16779.066015625
Mean sq error : 672194755.6992096

In [73]:
print(f"True price: {y_test[:20]}\nPredicted price: {tf.squeeze(y_pred)}")

True price: 892     154500
1105    325000
413     115000
522     159000
1036    315500
614      75500
218     311500
1160    146000
649      84500
887     135500
576     145000
1252    130000
1061     81000
567     214000
1108    181000
1113    134500
168     183500
1102    135000
1120    118400
67      226000
Name: SalePrice, dtype: int64
Predicted price: [143099.7   326880.6   127527.14  170216.02  292301.12   96895.266
 225260.14  155110.23   95804.28  127198.375 138049.28  117749.44
 137953.72  216327.1   189321.72  131155.89  203477.97  133697.69
 130512.18  210533.25 ]